<div class="answer">
    {% if reply.has_image %}
        <div class="file" id="file_{{ reply.reply_id }}">
            <img src="{{ reply.thumb_image_path }}">
        </div>
    {% endif %}
    <div class="postinfo">
        <p>
            <span class="postername">{{ reply.replier_name }}</span>
            {{ reply.reply_timestamp|date("Y-m-d H:i:s") }}
            <span class="postnumber"> No.{{ reply.reply_id }}</span>
        </p>
    </div>
    <div class="post-content">
        <p>{{ reply.reply_content|nl2br }}</p>
    </div>
</div>
